<div class="staff-details-container">
  <h1><strong>Staff Details</strong> </h1>
  <h2><strong>By Fergal Feeney, S00221135</strong></h2>
  <h6><strong>https://64709f073de51400f724a34b.mockapi.io/staffDetails</strong></h6>
</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Job Title</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let staffMember of results">
        <td>{{ staffMember.firstname }}</td>
        <td>{{ staffMember.country }}</td>
        <td>{{ staffMember.jobtitle }}</td>
      </tr>
    </tbody>
  </table>
</div>
